@use "../../../globals";

#canvas {
    width: 200px;
    height: 200px;
    position: fixed;
    z-index: 1980;
    bottom: 0;
    right: 0;
    opacity: 1.0;
    overflow: hidden;
}

@media screen and (max-width: globals.$small-screen-width) {
    #canvas {
        width: 100px !important;
        height: 100px !important;
    }
}
