<nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="http://www.auscope.org.au/">
          <img style="background-color: white; width: 33px; height: 33px; border: blue; border-width: 5px; border-style: double;" src="assets/images/AuScope-logo-Transparent-01.png"/>
      </a>&nbsp;<span class="navbar-brand">AuScope 3D Geological Models</span>

    <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i class="fa fa-bars text-muted" aria-hidden="true"></i>
    </button>
    <!-- <div class="collapse navbar-collapse">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="{{ 'Search' | translate }}" >
        </form>
    </div> -->
</nav>
