<!-- 3D Slice Controls -->
<a class="list-group-item">
    <span class="span-part-controls">X slice&nbsp;
        <label>{{slider0.value}}&nbsp;</label>
        <mat-slider min="0.0" max="1.0" step="0.01">
            <input matSliderThumb (valueChange)="changeSlices($event, 0, groupName)" #slider0/>
        </mat-slider>
    </span>
</a>
<a class="list-group-item">
    <span class="span-part-controls">Y slice&nbsp;
        <label>{{slider1.value}}&nbsp;</label>
        <mat-slider min="0.0" max="1.0" step="0.01">
            <input matSliderThumb (valueChange)="changeSlices($event, 1, groupName)" #slider1/>
        </mat-slider>
    </span>
</a>
<a class="list-group-item">
    <span class="span-part-controls">Z slice&nbsp;
        <label>{{slider2.value}}&nbsp;</label>
        <mat-slider min="0.0" max="1.0" step="0.01">
            <input matSliderThumb (valueChange)="changeSlices($event, 2, groupName)" #slider2/>
        </mat-slider>
    </span>
</a>
