<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <h2 class="text-muted">{{title}}</h2>
    <div *ngIf="groupList.length > 0" class="list-group">
        <div *ngFor="let groupName of groupList" class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass(groupName)">
                <span><i class="fa fa-plus"></i>&nbsp;{{groupName}}</span>
                <input *ngIf="getGroupTickBoxState(groupName)" (click)="groupCheckBoxClick($event, groupName, false)" checked="true" class="vis-toggle" type="checkbox"/>
                <input *ngIf="!getGroupTickBoxState(groupName)" (click)="groupCheckBoxClick($event, groupName, true)" class="vis-toggle" type="checkbox"/>
            </a>
            <li class="nested" [class.expand]="showMenu === groupName">
                <ul *ngFor="let subGroupObj of modelInfo['groups'][groupName]" class="submenu ul-part-name">
                    <li *ngIf="subGroupObj.include && modelPartState[groupName][subGroupObj.model_url]">
                        <a class="a-part-name list-group-item">
                            <span>{{subGroupObj.display_name}}</span>
                            <input *ngIf="modelPartState[groupName][subGroupObj.model_url].displayed" (click)="checkBoxClick(groupName, subGroupObj.model_url, false)" checked="true" class="vis-toggle" type="checkbox"/>
                            <input *ngIf="!modelPartState[groupName][subGroupObj.model_url].displayed" (click)="checkBoxClick(groupName, subGroupObj.model_url, true)" class="vis-toggle" type="checkbox"/>
                            <i class="fa fa-lg fa-cog part-controls" (click)="toggleControls(groupName, subGroupObj.model_url)"></i>
                            <i class="fa fa-lg fa-eye" (mouseenter)="revealPart(groupName, subGroupObj.model_url, true)" (mouseleave)="revealPart(groupName, subGroupObj.model_url, false)"></i>
                        </a>
                        <div id="controlsDiv" [style.display]="getDisplayControls(groupName, subGroupObj.model_url)">
                            <a class="list-group-item">
                                <span class="span-part-controls">Height Offset&nbsp;{{modelPartState[groupName][subGroupObj.model_url].heightOffset}}
                                    <mat-slider (change)="changeHeight($event, groupName, subGroupObj.model_url)" thumbLabel min="0" max="10000" step="500" value="0"></mat-slider>
                                </span>
                            </a>
                            <a class="list-group-item">
                                <span class="span-part-controls">Transparency&nbsp;{{modelPartState[groupName][subGroupObj.model_url].transparency.toFixed(1)}}
                                    <mat-slider (change)="changeTransparency($event, groupName, subGroupObj.model_url)" thumbLabel min="0.0" max="1.0" step="0.1" value="1.0"></mat-slider>
                                </span>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>
        </div>
    </div>
</nav>
