<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <h2 class="text-muted">{{title}}</h2>
    <div *ngIf="groupList.length > 0" class="list-group">
        <div *ngFor="let groupName of groupList" class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass(groupName)">
                <span><i class="fa fa-plus"></i>&nbsp;{{groupName}}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === groupName">
                <ul *ngFor="let subGroupObj of modelInfo['groups'][groupName]" class="submenu" style="font-size: 12px; padding-left: 40px; margin-bottom: 4px;">
                    <li>
                        <a class="list-group-item" style="padding: 0"><span>{{subGroupObj.display_name}}</span></a>
                        <a class="list-group-item" style="padding: 0 0 0 20px; color: #999"><span>Height Offset&nbsp;<!-- <mat-slider thumbLabel min="1" max="100" step="1" value="1"></mat-slider>--></span></a>
                        <a class="list-group-item" style="padding: 0 0 0 20px; color: #999"><span>Transparency&nbsp;<!-- <mat-slider thumbLabel min="1" max="100" step="1" value="100"></mat-slider>--></span></a>
                    </li>
                    <!-- <li>
                        <a class="list-group-item"><span>Height Offset&nbsp;<mat-slider thumbLabel min="1" max="100" step="1" value="1"></mat-slider></span></a>
                    </li>
                    <li>
                        <a class="list-group-item"><span>Transparency&nbsp;<mat-slider thumbLabel min="1" max="100" step="1" value="100"></mat-slider></span></a>
                    </li> -->
                </ul>
            </li>
        </div>
    </div>
</nav>
