<div class="card text-white bg-{{bgClass}}">
  <div class="card-header">
    <div class="row">
      <div class="col col-sm-2">
        <img class="thumb-img" src="assets/images/{{icon}}" alt="model-icon"/>
      </div>
      <div class="col col-sm-10 text-left">
        <div class="d-block">&nbsp;{{label}}</div>
      </div>
    </div>
    @if (modelInfoLink!='') {
      <div class="row" (click)='openModelInfoLink()'>
        <div class="col col-xs-6">
          <span class="float-right info-link"><a>Model Info & Downloads&nbsp;</a><i class="fa fa-sm fa-external-link" aria-hidden="true"></i></span>
        </div>
      </div>
    }
  </div>
  @if (modelInfoMessage && modelInfoMessage!='') {
    <div class="card-body" style="font-size: 0.7rem">
      {{modelInfoMessage}}
    </div>
  }
  <div class="card-footer text-end" (click)='navigateToModel()'>
    View Model
    <i class="fa fa-2x fa-arrow-circle-right" aria-hidden="true"></i>
  </div>
</div>
