<div class="card text-white bg-{{bgClass}}" (click)='navigateToModel()'>
    <div class="card-header">
        <div class="row">
            <div class="col col-xs-3">
                <i class="fa {{icon}} fa-4x"></i>
            </div>
            <div class="col col-xs-9 text-right">
                <div class="d-block">{{label}}</div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <span class="float-left">View Model</span>
        <span class="float-right"><i class="fa fa-2x fa-arrow-circle-right"></i></span>
    </div>
</div>
