.fa-arrow-circle-right {
    color: #FFFFFF;
}
.card.text-white {
    margin: 15px;
}
.d-block {
    font-size: 20px;
}
.thumb-img {
    max-width: 60px; max-height: 60px;
}

.info-link {
    font-size: 12px;
}

.view-link {
    font-size: 20px;
}
