@import "../globals";

    a, div {
        font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-weight: 400;
        line-height: normal;
        color: white;
        text-shadow: 0 -1px 0 #111;
    }

    #demoPopup {
        position: absolute;
        color: #FF0000;
        top:200px;
        left:200px;
        width: 200px;
        height: 300px;
    }

    /* Allow space for sidebar */
    #viewerDiv {
        margin-left: $sidebar-width;
        height: calc(100vh - #{$header-height});  // The #{} allows it to avoid being preprocessed by sass and getting an 'incompatible units' error
        min-height: calc(100vh - #{$header-height});
        padding: 0;
        width: calc(100vw - #{$sidebar-width});
        min-width: calc(100vw - #{$sidebar-width});
    }

    /* No sidebar for small screens, so maximise width */
    @media screen and (max-width: 992px) {
      #viewerDiv {
          margin : 0;
          width: 100vw;
          min-width: 100vw;
      }
    }

    #mouseGuideDiv {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 500;
        margin : auto auto;
        height: 100%;
        padding: 0;
        min-height: 100vh;
        min-width: 100vw;
        pointer-events: none;
    }

    #mouseGuideDiv svg {
        height: 100%;
        width: 100%;
        min-height: 100vh;
        min-width: 100vw;
    }


    #popupBoxDiv {
        position: absolute;
        z-index: 1000;
        top: 10vh;
        left: 35vw;
        width: 300px;
        height: 300px;
        font-size: 12px;
        padding: 0 1rem;
        background: #1a1a1a;
        border: 4px solid black;
        border-radius: 5px;
        opacity: 1.0;
        display: none;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    #popupExitDiv {
        position: absolute;
        z-index: 1001;
        top: 0;
        right: 0;
        font: 11px 'Lucida Grande',sans-serif;
        padding: 0 1rem;
        background: #1a1a1a;
        border: 1px solid #7c7c7c;
        opacity: 1.0;
    }

    #popupBoxDiv li {
        color: rgb(150, 150, 150);
        list-style-type: none;
        margin-left: 2px;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    #popupBoxDiv li span {
        font-weight: bold;
    }

    #helpButton {
        font-size: 12px;
        font-weight: 400;
        position: fixed;
        z-index: 2000;
        top: $header-height;
        right: 0;
        padding: 0.1rem 0.5rem;
        background: #1a1a1a;
        border: 1px solid #2c2c2c;
        opacity: 0.8;
    }

    #errorDiv {
        position: absolute;
        z-index: 2000;
        top: 50px;
        left: 100px;
        width: 500px;
        height: 300px;
        font-size: 12px;
        padding: 0 1rem;
        background: #1a1a1a;
        border: 4px solid black;
        border-radius: 5px;
        opacity: 1.0;
        display: none;
        overflow: hidden;
    }

    #spinnerDiv {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -50px;
        margin-left: -50px;
        width: 100px;
        height: 100px;
        z-index: 1990;
        font-size: 12px;
        padding: 0 1rem;
        background: white;
        color: black;
        border: none;
        opacity: 1.0;
        display: inline;
    }

    #drop_zone {
        position: absolute;
        top: 2%;
        left: 2%;
        border: 5px solid blue;
        width:  96%;
        height: 96%;
        color: blue;
        p {
          margin-top: 23%;
          text-align: center;
        }
    }
