<div [@routerTransition]>
        <app-sidebar></app-sidebar>
        <div id="viewerDiv" #viewerDiv></div>
        <div class="row">
            <div class="col-md-2" id="help">
                <p>Key bindings</p>
                <ul>
                      <li>Left-Click: rotate</li>
                      <li>Right-Click: move</li>
                      <li>Mouse Wheel: zoom</li>
                      <li>Double Click: more info</li>
                </ul>
            </div>
            <!-- <div class="col-md-2" id="modelControlsDiv">
                <p>Model Controls</p>
                <input type="button" style="bg-color: black"/>Reset View
            </div> -->
        </div>
        <div id="popupBoxDiv" #popupBoxDiv></div>
</div>
