@use "../../../globals";

.help-buttons {
    font-size: 12px;
    margin-top: 5px;
    color: #EEEEEE;
    border-color: #EEEEEE;
}

.row {
    padding-bottom: 4px;
}

#help {
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    z-index: 700;
    top: 0;
    right: 0;
    padding: 0 1rem;
    background: #1a1a1a;
    border: 1px solid #2c2c2c;
    opacity: 0.8;
}


#help > p {
    margin: 0.5rem 0;
}

#help > ul {
    padding: 0 1rem;
}


@media screen and (max-width: 992px) {
    #sidebarTourButton {
        display: none;
    }
}

@media screen and (max-width: globals.$small-screen-width) {
    #modelDemoButton {
        display: none;
    }
}
