<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;Dashboard
        </a>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <span><i class="fa fa-plus"></i>&nbsp;Models</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)"><span><i class="fa fa-plus"></i>&nbsp;South Australia</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span><i class="fa fa-plus"></i>&nbsp;Tasmania</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span><i class="fa fa-plus"></i>&nbsp;New South Wales</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span><i class="fa fa-plus"></i>&nbsp;Victoria</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span><i class="fa fa-plus"></i>&nbsp;Queensland</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span><i class="fa fa-plus"></i>&nbsp;Northern Territory</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span><i class="fa fa-plus"></i>&nbsp;Western Australia</span></a>
                    </li>
                </ul>
            </li>
        </div>
    </div>
</nav>
