<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <h2 class="text-muted">North Gawler</h2>
    <div class="list-group">
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <span><i class="fa fa-plus"></i>&nbsp;Faults</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu" style="padding-left: 10px;">
                    <div class="nested-menu">
                        <a class="list-group-item" (click)="addExpandClass2('pages')">
                            <div class="checkbox-inline"><span><i class="fa fa-plus"></i>Ammaroodinna&nbsp;</span><input type="checkbox" value=""></div>
                        </a>
                        <li class="nested" [class.expand]="showMenu2 === 'pages'">
                            <ul class="submenu" style="padding-left: 20px;">
                                <li>
                                   <a class="list-group-item"><span>Ammaroodinna Fault 1&nbsp;<input type="checkbox" value=""></span></a>
                                </li>
                                <li>
                                   <a class="list-group-item"><span>Ammaroodinna Fault 2&nbsp;<input type="checkbox" value=""></span></a>
                                </li>
                                <li>
                                    <a class="list-group-item"><span>Ammaroodinna Fault 3&nbsp;<input type="checkbox" value=""></span></a>
                                </li>
                                <li>
                                    <a class="list-group-item"><span>Ammaroodinna Fault 4&nbsp;<input type="checkbox" value=""></span></a>
                                </li>
                            </ul>
                        </li>
                    </div>
                </ul>
            </li>

            <a class="list-group-item">
                <span><i class="fa fa-plus"></i>&nbsp;Boreholes</span>
            </a>
            <a class="list-group-item">
                <span><i class="fa fa-plus"></i>&nbsp;Gravity</span>
            </a>
            <a class="list-group-item">
                <span><i class="fa fa-plus"></i>&nbsp;Magnetism</span>
            </a>
        </div>
    </div>
</nav>
