#volViewerControlDiv {
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    z-index: 1000;
    top: 50px;
    left: 450px;
    padding: 0 1rem;
    background: #1a1a1a;
    border: 1px solid #2c2c2c;
    opacity: 1.0;
    width: 38%;
    height: 25%;

}
