#volViewer {
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    z-index: 1000;
    top: 200px;
    left: 200px;
    padding: 0 1rem;
    background: #1a1a1a;
    border: 1px solid #2c2c2c;
    opacity: 1.0;
    width: 40%;
    height: 45%;

}
