@use "globals";

.main-container {
    margin-top: globals.$header-height;
    margin-left: 0;
    max-height: calc(100vh - #{globals.$header-height});
    position: relative;
    overflow: hidden;
}
@media screen and (max-width: 992px) {
    .main-container {
        margin-left: 0px !important;
    }
}
