
<div class="card text-white bg-{{bgClass}}" >
    <div class="card-header">
        <div class="row">
            <div class="col col-sm-4">
                <img class="icon-img" src="assets/images/{{icon}}"/>
            </div>
            <div class="col col-sm-8">
                <div class="d-block">{{label}}</div>
                <div *ngIf="count===1" class="d-block huge">{{count}} Model</div>
                <div *ngIf="count>1||count===0" class="d-block huge">{{count}} Models</div>
            </div>
        </div>
        <div *ngIf="infoLink!=''" class="row" (click)='openInfoLink()'>
            <div class="col col-xs-6">
                <span class="float-right info-link"><a>More Info&nbsp;</a><i class="fa fa-sm fa-external-link" aria-hidden="true"></i></span>
            </div>
        </div>
    </div>
    <div class="card-footer" (click)='navigateToProvider(count)'>
        <span *ngIf="count>0" class="float-left">View Provider Models</span>
        <span *ngIf="count===0" class="float-left">&nbsp;</span>
        <span *ngIf="count>0" class="float-right"><i class="fa fa-2x fa-arrow-circle-right"></i></span>
    </div>
</div>
